* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0px 30px;
}

header nav ul li:nth-child(1) {
    text-decoration: underline;
}

header nav ul li:hover {
    text-decoration: underline;
}

header .logo {
    font-size: 30px;
    font-style: italic;

}