* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* 
input{
  width: 60%;
  padding: 5px;
  margin-top: 50px;
} */


/* button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 15px;
  background-color: crimson;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px 0px;
}

input{
  width: 30%;
  padding: 5px 10px;
  text-indent: 20px;
} */